body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    /* background-color: #85FFBD; */

}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.nav-banner {
    /* background-image: linear-gradient(45deg, #85ffbe49 0%, #fffb7d4d 100%); */

}

.nav-bar {
    background: rgba(80, 85, 149, 0.4);
    padding: 14px 0;
    backdrop-filter: blur(30px);
}

.nav-bar h2 {
    font-size: 22px;
    color: #ffffff;
}

.nav-bar button {
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    background: linear-gradient(0deg, #004CFF 0%, #79A1FF 100%);
    box-shadow: 0px 8px 15px rgba(0, 76, 255, 0.2);
    color: #ffffff;
}


/* Banner Part */
.single-product {
    padding: 40px;
    margin-top: 40px;
    background: rgba(80, 85, 149, 0.4);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    color: #ffffff;
}

.product-details h1 {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 20px;
}

.product-details p {
    font-size: 14px;
    font-weight: 400;
    color: #cecccc;
}

.product-details button {
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    background: linear-gradient(0deg, #004CFF 0%, #79A1FF 100%);
    box-shadow: 0px 8px 15px rgba(0, 76, 255, 0.2);
    color: #ffffff;
}

.product-img {
    padding: 30px;
    height: 300px;
    background: #fff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img img {
    height: 100%;
}

/* main product */
.main-product {
    /* background-image: url(../img/background.svg); */
    background-position: fixed;
    /* background-repeat: no-repeat; */
    background-size: contain;
    padding-bottom: 60px;
    position: relative;
}

.main-product::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 400px;
    background: linear-gradient(45deg, #18184A 0%, #c401ad 100%);
    filter: blur(100px);
    border-radius: 50%;
    z-index: -1;
}

.main-product::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 400px;
    background: linear-gradient(45deg, #18184A 0%, #c401ad 100%);
    filter: blur(100px);
    border-radius: 50%;
    z-index: -1;
}

.search {
    margin: 40px 0;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 45px;
    padding-left: 2.5rem;
    padding-right: 94px;
    border: 0;
    border-radius: 12px;
    background: rgba(80, 85, 149, 0.4);
    border: 1px solid rgba(80, 85, 149, 0.6);
    backdrop-filter: blur(10px);
    outline: none;
    color: #ffffff;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
}

.input:focus {
    border-color: #fff;
}

.search-icon {
    position: absolute;
    left: 1rem;
    fill: #ffffff;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
}

.search-Btn {
    position: absolute;
    right: 4px;
    fill: #ffffff;
    font-size: 14px;
    padding: 0 18px;
    background: linear-gradient(0deg, #004CFF 0%, #79A1FF 100%);
    box-shadow: 0px 8px 15px rgba(0, 76, 255, 0.2);
    color: #ffffff;
    height: 37px;
    border: none;
    border-radius: 8px;
    z-index: 1;
}

.product {
    padding: 20px;
    background: rgba(80, 85, 149, 0.4);
    border: 1px solid rgba(80, 85, 149, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #ffffff;
    margin: 10px 0;
}

.product-info h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-info p {
    font-size: 13px;
    font-weight: 400;
    color: #cecccc;
}

.product-info button {
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    background: linear-gradient(0deg, #004CFF 0%, #79A1FF 100%);
    box-shadow: 0px 8px 15px rgba(0, 76, 255, 0.2);
    color: #ffffff;
    font-size: 14px;
}

.price {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 18px;
    font-weight: 600;
}

/* footer */
ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #151414;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #fff;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo h2 {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #fff;
}

.footer-widget ul li {
    display: inline-block;
    /* float: left; */
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #fff;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    height: 100%;
    background: linear-gradient(0deg, #004CFF 0%, #79A1FF 100%);
    box-shadow: 0px 8px 15px rgba(0, 76, 255, 0.2);
    color: #ffffff;
    padding: 13px 20px;
    border: none;
    top: 0;
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #fff;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #fff;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

.show {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-Btn {
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    background: linear-gradient(0deg, #004CFF 0%, #79A1FF 100%);
    box-shadow: 0px 8px 15px rgba(0, 76, 255, 0.2);
    color: #ffffff;
}

.hide-Btn {
    display: none;
}

#searchResult-text {
    display: none;
    text-align: center;
    padding-top: 20px;
    color: #fff;
}

.modal-custom {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background: #17161b82;
    display: flex;
    justify-content: center;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: .3rem;
    outline: 0;
    max-height: 80%;
    margin-top: 60px;
}

.close {
    position: absolute;
    top: -14px;
    right: -14px;
    background: #1e1e1e;
    color: #fff;
    border-radius: 19px;
    width: 36px;
    height: 36px;
    text-align: center;
    z-index: 9999;
    border: none;
}

#modal {
    display: none;
}

.view-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.tag {
    font-size: 12px;
    border-radius: 6px;
    padding: 4px 6px;
    background: rgba(255, 255, 255, 0.3);
}


/* loader css */
.loader {
    display: none;
    width: fit-content;
    margin: 0 auto;
    font-size: 40px;
    line-height: 1.5;
    font-family: system-ui, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff04;
    -webkit-text-stroke: 1px #ffffff;
    background:
        radial-gradient(1.13em at 50% 1.6em, #ffffff 99%, #ffffff00 101%) calc(50% - 1.6em) 0/3.2em 100% text,
        radial-gradient(1.13em at 50% -0.8em, #ffffff00 99%, #ffffff 101%) 50% .8em/3.2em 100% repeat-x text;
    animation: l9 2s linear infinite;
}

.loader:before {
    content: "Loading";
}

@keyframes l9 {
    to {
        background-position: calc(50% + 1.6em) 0, calc(50% + 3.2em) .8em
    }
}

.main-background {
    background-image: linear-gradient(45deg, #18184A 0%, #19194B 100%);
    position: relative;
    z-index: 1
}

.main-background::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 400px;
    width: 400px;
    background: linear-gradient(45deg, #18184A 0%, #0225ec 100%);
    filter: blur(100px);
    border-radius: 50%;
    z-index: -1;
}

.main-background::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 400px;
    width: 400px;
    background: linear-gradient(45deg, #18184A 0%, #011db6 100%);
    filter: blur(100px);
    border-radius: 50%;
    z-index: -1;
}